<html>
    <head>
        <meta charset="utf-8">
        <title>Github User Request</title>
        <link href="styles.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    </head>

    <body>
        <div id="vue-app">
            <div id="searchbar">
                <input id="searchbox" v-model="usernameInput"  v-on:keyup.enter="getJSON()">
                
                <p v-if="badUserRequest" style="color: cdcdcd; margin-top: 5px;">This username was not found, please try again.</p>
            </div>

            <div class="mainContent" v-if="userData === null">
                <h1>welcome!</h1>
                <p>Please enter a username and we will request their profile information from github.</p>
            
            </div>

            <div class="mainContent" v-if="userData != null">
                
                <div class="contentCard">
                    <div class="mainContentHeader">
                        <img :src="userData.avatar_url" width="50px" height="50px">
                        <h2>{{userData.login}}</h2>                      
                        
                    </div>

                    <div class="mainContentBody">
                        <p v-if="userData.bio !=''" >{{userData.bio}}</p>
                        <p>Profile: <a :href="userData.html_url">{{userData.html_url}}</a></p>

                        <p>
                        Public Repos: {{userData.public_repos}} Public Gists: {{userData.public_gists}}
                        </p>
                        <p>
                            Followers: {{userData.followers}} Following: {{userData.following}}
                        </p>

                        <p>Profile Created: 
                            {{new Date(userData.created_at).toLocaleDateString() }}
                        </p>

                        
                        <p>Profile Updated: 
                            {{new Date(userData.updated_at).toLocaleDateString() }}
                        </p>
                    </div>         
                </div>
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>